<div class="categories-container card bg-white rounded-4">
  <div class="categories-heading p-2 card-header bg-white p-3 rounded-top-4">
    <h5 class="text-primary fw-semibold card-title m-0">CATEGORIES</h5>
  </div>
  <div class="card-body p-0">
    <!-- Navigation for Scrollspy -->
    <ul
      *ngIf="!isFetching"
      id="list-example"
      class="category-list list-group rounded-0 rounded-bottom-4 border-0"
    >
      <li
        *ngFor="let category of categoryList"
        class="list-group-item list-group-item-action border-0 my-1"
        id="#i{{ category.CategryId }}"
        (click)="scrollToCategory(category.CategryId)"
      >
        {{ category.CategryName }}
      </li>
    </ul>

    <ul
      *ngIf="isFetching"
      id="list-example"
      class="category-list list-group rounded-0 rounded-bottom-4 border-0 placeholder-glow"
    >
      <li
        *ngFor="let category of [0, 1, 2, 3, 4, 5]"
        class="border-0 my-1 px-3 rounded-3"
      >
        <label class="placeholder rounded-3 col-5"></label>
      </li>
    </ul>
  </div>
</div>
