<footer class="footer-section bg-white fixed-bottom">
  <section class="h-100 desktop-view collapse d-lg-block">
    <a
      href="#"
      class="footer-link text-decoration-none fw-medium d-flex align-items-center justify-content-end pe-5 h-100"
    >
      <label>Food Ordering System by</label
      ><img src="/footerLogo.png" height="29" />
    </a>
  </section>
  <section
    class="mobile-view h-100 d-lg-none d-flex justify-content-between align-items-center px-3"
  >
    <label class="fw-bolder fs-5">Rs.0.00</label>
    <button class="btn btn-primary w-50 rounded-5">CHECKOUT</button>
  </section>
</footer>
